#home {
    margin-bottom: -180px;
    padding: 0;
    object-fit: cover;
}

.home__image {
    width: 100%;
    mask-image: linear-gradient(to bottom rgba(0, 0, 0 ,1), rgba(0, 0, 0, 0));
    z-index: -1;
    margin-bottom: -150px;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    width: 5em !important;
    height: 10em !important;
    margin-bottom: 150px !important;
    color: #000 !important;
}

.carousel-control-next-icon {
    margin-right: -110px !important;
}

.carousel-control-prev-icon {
    margin-left: -110px !important;
}